@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input {
		@apply border border-neutral-300 bg-neutral-50 rounded-lg w-full placeholder:text-neutral-600 placeholder:font-semibold px-4 py-2 focus:ring-2 ring-offset-1 ring-brand-color-light outline-none transition;
	}

	.box {
		@apply border border-neutral-300 bg-white rounded-lg;
	}

	.primary-btn {
		@apply border border-brand-color bg-brand-color hover:bg-brand-color-light px-6 py-1.5 font-bold shadow-a text-white rounded-lg flex transition active:ring-2 ring-offset-1 ring-brand-color-light;
	}

	.secondary-btn {
		@apply border border-brand-color px-6 py-1.5 font-bold shadow-a text-brand-color rounded-lg flex transition active:ring-2 ring-offset-1 ring-brand-color-light;
	}
}

:root {
	scroll-behavior: smooth !important;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', system-ui, sans-serif;
	scroll-behavior: smooth !important;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

.no-scroll::-webkit-scrollbar {
	display: none;
}
.no-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
}
