@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scroll-behavior: smooth !important;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', system-ui, sans-serif;
	scroll-behavior: smooth !important;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

.no-scroll::-webkit-scrollbar {
	display: none;
}
.no-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed;
}
